/* article */

main {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 215px;
  width: calc(100% - 215px);
  /* overflow: hidden; */
  box-sizing: border-box;
  overflow: hidden;
}

article {
  width: 20%;
  height: 13.79vw;
  background: no-repeat center center;
  background-size: cover;
  transition: all 1s;
  position: relative;
}

article h1 {
  display: block;
  position: absolute;
  color: white;
  bottom: -100px;
  left: 20px;
  transition: all 0.4s;
  font-size: 15px;
  line-height: 26px;
  width: 200px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
}

article h2 {
  display: block;
  position: absolute;
  left: 20px;
  bottom: -70px;
  color: white;
  /* top: 175px;
    left: 30px; */
  font-size: 10px;
  line-height: 26px;
  width: 200px;
  letter-spacing: 1px;
  font-weight: 400;
  opacity: 1;
  transition: all 0.4s;
}

.post_text {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  display: block;
  overflow: hidden;
  align-items: flex-end;
  flex-direction: row;
  padding: 0 0 20px 20px;
  width: 100%;
  transition: all 0.4s;
}

.post_text:hover h1 {
  bottom: 50px;
}

.post_text:hover h2 {
  bottom: 20px;
}

/* .post_text:hover{
    padding: 90px 0 0 30px;
    text-decoration:none;
    transition: all 0.5s;
    display: block;
} */

article figure img {
  width: 100%;
}

/* background-image */

#post_001 {
  background-image: url(../img/front2.jpg);
}

#post_002 {
  background-image: url(../img/GMF_front.gif);
}
#post_003 {
  background-image: url(../img/alpha.jpg);
}
#post_004 {
  background-image: url(../img/F1.jpg);
}
#post_005 {
  background-image: url(../img/s-bear_front.jpg);
}
#post_006 {
  background-image: url(../img/F-.jpg);
}
#post_007 {
  background-image: url(../img/front.jpg);
}
#post_008 {
  background-image: url(../img/F.jpg);
}
#post_009 {
  background-image: url(../img/front-.jpg);
}
#post_010 {
  background-image: url(../img/reebok.jpg);
}
#post_011 {
  background-image: url(../img/baristar_front.jpg);
}
#post_012 {
  background-image: url(../img/p38_re.jpg);
}
#post_013 {
  background-image: url(../img/GMF_front041.gif);
}
#post_014 {
  background-image: url(../img/p37_re.gif);
}
#post_015 {
  background-image: url(../img/p36_re.gif);
}
#post_016 {
  background-image: url(../img/p35_re.jpg);
}
#post_017 {
  background-image: url(../img/pyl_front_re.gif);
}
#post_018 {
  background-image: url(../img/bomb_front_re.gif);
}
#post_019 {
  background-image: url(../img/p27_re.jpg);
}
#post_020 {
  background-image: url(../img/p26_re.jpg);
}
#post_021 {
  background-image: url(../img/lotte_front_re.gif);
}
#post_022 {
  background-image: url(../img/RS_front_re.gif);
}
#post_023 {
  background-image: url(../img/myhero_front_re02.gif);
}
#post_024 {
  background-image: url(../img/p25_re.gif);
}
#post_025 {
  background-image: url(../img/reportn_front_re.jpg);
}
#post_026 {
  background-image: url(../img/save_front02_re.gif);
}
#post_027 {
  background-image: url(../img/oo_front_re.gif);
}
#post_028 {
  background-image: url(../img/p39_re.gif);
}
#post_029 {
  background-image: url(../img/k11_front_02_re.gif);
}
#post_030 {
  background-image: url(../img/PPbysml_front_re.gif);
}

/* background - color */

#post_001 a:hover {
  background-color: rgba(255, 72, 31, 0.95);
}
#post_002 a:hover {
  background-color: rgba(255, 221, 0, 0.95);
}
#post_003 a:hover {
  background-color: rgba(204, 204, 204, 0.95);
}
#post_004 a:hover {
  background-color: rgba(53, 87, 143, 0.95);
}
#post_005 a:hover {
  background-color: rgba(74, 149, 230, 0.95);
}
#post_006 a:hover {
  background-color: rgba(255, 95, 87, 0.95);
}
#post_007 a:hover {
  background-color: rgba(255, 95, 87, 0.95);
}
#post_008 a:hover {
  background-color: rgba(18, 42, 120, 0.95);
}
#post_009 a:hover {
  background-color: rgba(17, 17, 17, 0.95);
}
#post_010 a:hover {
  background-color: rgba(253, 255, 64, 0.95);
}
#post_011 a:hover {
  background-color: rgba(241, 90, 34, 0.95);
}
#post_012 a:hover {
  background-color: rgba(161, 221, 73, 0.95);
}
#post_013 a:hover {
  background-color: rgba(34, 194, 192, 0.95);
}
#post_014 a:hover {
  background-color: rgba(255, 221, 0, 0.95);
}
#post_015 a:hover {
  background-color: rgba(177, 245, 255, 0.95);
}
#post_016 a:hover {
  background-color: rgba(0, 160, 248, 0.95);
}
#post_017 a:hover {
  background-color: rgba(255, 93, 78, 0.95);
}
#post_018 a:hover {
  background-color: rgba(37, 56, 122, 0.95);
}
#post_019 a:hover {
  background-color: rgba(239, 102, 88, 0.95);
}
#post_020 a:hover {
  background-color: rgba(255, 241, 106, 0.95);
}
#post_021 a:hover {
  background-color: rgba(179, 208, 54, 0.95);
}
#post_022 a:hover {
  background-color: rgba(254, 0, 0, 0.95);
}
#post_023 a:hover {
  background-color: rgba(92, 201, 206, 0.95);
}
#post_024 a:hover {
  background-color: rgba(169, 219, 216, 0.95);
}
#post_025 a:hover {
  background-color: rgba(250, 112, 119, 0.95);
}
#post_026 a:hover {
  background-color: rgba(246, 28, 0, 0.95);
}
#post_027 a:hover {
  background-color: rgba(255, 241, 0, 0.95);
}
#post_028 a:hover {
  background-color: rgba(17, 17, 17, 0.95);
}
#post_029 a:hover {
  background-color: rgba(218, 219, 203, 0.95);
}
#post_030 a:hover {
  background-color: rgba(17, 17, 17, 0.95);
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* 이상 ~ 1440 이하 해상도 */
@media screen and (max-width: 1440px) {
  article {
    width: 25%;
    height: 15.79vw;
  }
}
@media screen and (max-width: 1240px) {
  article {
    width: 33.333%;
    height: 20.79vw;
  }
}

@media screen and (max-width: 1024px) {
  main {
    margin: 0;
    width: 100%;
  }

  article {
    width: 25%;
    height: 17vw;
    background: no-repeat center center;
    background-size: cover;
    transition: all 1s;
  }

  /* article h1 {
    display: block;
    color: white;
    font-size: 13px;
    line-height: 26px;
    width: 160px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 1;
  }

  article h2 {
    display: block;
    color: white;
    font-size: 10px;
    line-height: 26px;
    width: 160px;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 1;
  } */

  .post_text h1,
  .post_text h2 {
    display: none;
  }
  #post_001 a:hover,
  #post_002 a:hover,
  #post_003 a:hover,
  #post_004 a:hover,
  #post_005 a:hover,
  #post_006 a:hover,
  #post_007 a:hover,
  #post_008 a:hover,
  #post_009 a:hover,
  #post_010 a:hover,
  #post_011 a:hover,
  #post_012 a:hover,
  #post_013 a:hover,
  #post_014 a:hover,
  #post_015 a:hover,
  #post_016 a:hover,
  #post_017 a:hover,
  #post_018 a:hover,
  #post_019 a:hover,
  #post_020 a:hover,
  #post_021 a:hover,
  #post_022 a:hover,
  #post_023 a:hover,
  #post_024 a:hover,
  #post_025 a:hover,
  #post_026 a:hover,
  #post_027 a:hover,
  #post_028 a:hover,
  #post_029 a:hover,
  #post_030 a:hover {
    background-color: unset;
  }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  article {
    width: 33.3%;
    height: 25.7vw;
  }

  article h1 {
    font-size: 13px;
    line-height: 26px;
    width: 160px;
    bottom: 20px;
  }

  article h2 {
    display: none;
    font-size: 10px;
    line-height: 26px;
    width: 160px;
  }

  .post_text {
    padding: 130px 0 0 20px;
  }

  .post_text:hover {
    padding: 40px 0 0 20px;
  }
}

@media screen and (min-width: 0) and (max-width: 479px) {
  main {
    margin: 0;
    width: 100%;
  }

  article {
    width: 100%;
    height: 77.2vw;
  }

  article h1 {
    font-size: 14px;
    line-height: 26px;
    width: 160px;
    bottom: 20px;
  }

  article h2 {
    display: none;
    font-size: 10px;
    line-height: 26px;
    width: 160px;
  }

  .post_text {
    padding: 160px 0 0 20px;
  }

  .post_text:hover {
    padding: 60px 0 0 20px;
  }
}
